{{define "nav"}}
 <nav>
    <a href='/'>Home</a>
    <a href='/search'>Search</a>
    <a href='/embed'>Embedded File</a>
    <a href='/render/1'>Render 1</a>
    <a href='/customer/1'>Customer 1</a>
    <a href='/customer/alex'>Customer alex</a>
</nav>
{{end}}